{% extends 'base.html' %}
{% block content %}
<nav>
    <a href="{% url 'new_post' %}">Create Post</a>
    <a class="leftist" href="{% url 'posts' %}">Posts</a>
</nav>

<form id="post-form" action="{% url 'new_post' %}" method="post" enctype="multipart/form-data">
    <h1>Create Your Post</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
    <button type="submit">Save</button>
</form>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock content %}